/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}

/* конец кода сброса стилей браузера */

body{
	min-width: 1200px;
}

.wrapper{
	display: flex;
	height: 100px;
	width: 100%;
	background-color: rgb(54, 52, 48);
	justify-content: space-between;
	align-items: center;
}

.wrapper a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(221, 221, 221);
}

.wrapper p{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(221, 221, 221);
	margin-left: -60px;
	font-size: 28px;
}

.wrapper ul{
	list-style-type: none;
	display: flex;
	text-transform: uppercase;
	justify-content: space-between;
	width: 532px;
	margin-right: 10%;
	font-size: 15px;
}

.wrapper img{
	height: 100px;
	margin-left: 40%;
}

.wrapper li:before{
	content: "";
	width: 3px;
	height: 15px;
	margin-right: 38px;
	background-color: rgb(221, 221, 221);
	display: inline-block;

}

.wrapper li:first-child:before{
	margin: 0px;
	width: 0px;
}

.wrapper a:hover{
	border-bottom: 2px solid rgb(221, 221, 221);
}

.logo{
	width: 100%;
	height: 665px;
	background-image: url(../img/background_logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.logo h1{
	display: flex;
	justify-content: center;
	font-family: 'Sriracha', cursive;
	color: rgb(54, 52, 48);
	font-size: 40px;
	padding-top: 20px;
}

.content_steps{
	width: 80%; 
	height: 540px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 10%;
}

.content_step_1{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
	margin-right: 13px;
}

.content_step_1 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_1 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_1 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_1 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}




.content_step_2{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
	margin-right: 13px;
}

.content_step_2 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_2 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_2 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_2 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}



.content_step_3{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
}

.content_step_3 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_3 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_3 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_3 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}




.content_step_4{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
	margin-right: 13px;
}

.content_step_4 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_4 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_4 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_4 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}




.content_step_5{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
	margin-right: 13px;
}

.content_step_5 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_5 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_5 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_5 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}



.content_step_6{
	width: 32%;
	height: 48%;
	border: 2px solid silver;
}

.content_step_6 h1{
	color: rgb(40, 40, 40);
	font: bold 25px Georgia, "Times New Roman", Times, serif;
	margin: 0 auto;
}

.content_step_6 img{
	width: 250px;
	margin-left: 15%;
}

.content_step_6 p{
	font: normal 17px Georgia, "Times New Roman", Times, serif;
	margin: 5px 40px 0px 30px;
}

.content_step_6 a{
	text-decoration: none;
	font-family: 'Sriracha', cursive;
	color: rgb(40, 40, 40);
}



footer{
	width: 100%;
	height: 140px;
	background-color: rgb(54, 52, 48);
}

footer ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 700px;
	font-family: 'Sriracha', cursive;
	color: rgb(221, 221, 221);
	font-size: 18px;
	padding-top: 30px;
	margin-bottom: 20px; 
	padding-left: 30%;
	margin-right: 30%;
}

footer h3{
	margin: 0;
	padding-left: 30%;
	font-family: 'Sriracha', cursive;
	color: rgb(221, 221, 221);
	font-size: 18px;
	display: flex;
	justify-content: center;
	margin-right: 30%;
}


